// card hero 


.icon-card-her0-1{

    position: absolute;

    top: 188px;
    z-index: 800;
    left: 30px;
    

}


.icon-card-her0-2{

    position: absolute;
    top: 211px;
    
   

}


.icon-card-elipese{
    position: absolute;

   

}