// card hero 


.icon-card-her0-1{

    position: absolute;

    
    z-index: 800;
    

}


.icon-card-her0-2{

    position: absolute;
    
   

}


.icon-card-elipese{
    position: absolute;

   

}