// card hero 


.grupocheio{
    width: 100%;
}





.div-card{
    perspective: 500px;
    position: relative;
}



//bg-frame-cards


.Frame62{
    

    animation: bg-frame62 3s ease 1.5s infinite alternate
}


@keyframes bg-frame62{
    0%{
        transform: translate3d(0,0,0);
    }100%{
        transform: translate3d(0,30px,0);
    }
}