// card hero 


.grupocheio{
    width: 100%;
}





.div-card{
    perspective: 500px;
    position: relative;
}



//bg-frame-cards


.Frame62{
    

    animation:
}


@keyframes bg-frame62{
    
}