//button principal

.link-btn-nav{
    width: 176px;
    height: 48px;
    border-radius: 8px;

    background: linear-gradient(45deg, #BBE768, #496022);

    display:block;

    text-decoration:none;
}

