//brand color



//Brand colors

$brand-color-green: #2BD67B;

$brand-color-green-1: #A5C666;
$brand-color-green-2:#BCE077;
$brand-color-green-3: #D2F988;
$brand-color-green-4: #DDFDA2;
$brand-color-green-5: #E8FFBC;
$brand-color-green-6: #F2FFD8;



$brand-color-blue: #4070F4;

$brand-color-blue-1: #272D1D;
$brand-color-blue-2: #3C452D;
$brand-color-blue-3: #515D3D;
$brand-color-blue-4: #687456;
$brand-color-blue-5: #808A6F;
$brand-color-blue-6: #97A089;





//brand Gradient


$brand-color-blue-top1: #D2F988;
$brand-color-blue-top2: #65744D;



$brand-color-green-top3: #DDFDA2;
$brand-color-green-top3: #A5C666;



// gray scale



$gray-10:#E7E9ED;
$gray-20:#CED2DB;
$gray-30:#B6BCC9;
$gray-40:#9EA5B8;
$gray-50:#858FA6;
$gray-60:#6D7994;
$gray-70:#556282;
$gray-80:#3C4C70;
$gray-90:#24365E;
$gray-100:#0B1F4D;



//semantic color


$support-01: #4070F4; // message
$support-02: #0BB07B; // success
$support-03: #FFAD0D; //Warning
$support-04: #F03D3D; // error
$support-05: #E7E9ED; //information





// $white-normal

$white-normal:#F7F2FA;
$white-normal-dark:#E7E4E9;
$white-normal-light:#F8F6F9;
