//header of navigation 

header{
    background:transparent;
    scroll-behavior: smooth;
    width: 100%;
}


//menu
.nav-desktop-full{
    width: $container-l;
    background-color: red;
    margin: 0 auto;
}

